.instaImageDiv {
    height: auto;
    overflow: hidden;
    width: auto;
    margin-bottom: 20px;
}

.instaImage {
    margin: 0px 20px 0px 60px;
    height: 300px;
    width: 400px;

}

hr{
    margin: 20px;
}

.caption{
    margin: 0px 20px 0px 60px;
}

.hashtags{
    color: blue;
    margin: 0px 20px 0px 60px;
}

.favBorIcon{
    margin: 0px 0px 0px 60px;
}

.favIcon {
    margin: 0px 0px 0px 60px;
    color : red;
}

.commentBox{
    margin: 0px 0px 0px 60px;
}

.actualComment{
    margin: 0px 0px 20px 60px;
}

.makeBold {
    font-weight: bold;
}
