.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.loginHeading {
    font-size: 20px!important;
    padding: 20px 16px 0px 16px;
}

.loginButton {
    margin: 0px 8px 30px 8px!important;
}

.incorrectCreds{
    margin: 20px 0px 0px 0px!important;
}


