.app-header {
    background-color: #263238;
    height: 36px;
    padding: 18px 32px 8px 16px;
}

.app-logo {
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    float:left
}

.search-box{
    border-radius: 4px;
    width: 300px;
    background-color: #c0c0c0;
    vertical-align: middle;
    height: 30px;
}

.searchIcon {
    padding: 5px 0px 0px 10px;
}

.instaImage{
    height:400px;
}

.right{
    display: flex;
    flex-direction: row;
    float: right;
    vertical-align: middle;
    justify-content: space-around!important;
}

